
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    :root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 214, 219, 220;
      --background-end-rgb: 255, 255, 255;
      --primary-color: #4ECDC4;
      --secondary-color: #588C7E;
    
  --shadow-neumorphic: 6px 6px 12px rgba(0, 0, 0, 0.1), -6px -6px 12px rgba(255, 255, 255, 0.8);
  --shadow-neumorphic-hover: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 16px rgba(255, 255, 255, 0.8);
  --shadow-neumorphic-pressed: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.8);
  --border-radius: 0.75rem;
  --transition-duration: 0.3s;

  --card-border-radius: 1rem;
  --card-transition: 0.3s ease-in-out;
  --shadow-neumorphic-button: 3px 3px 6px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(255, 255, 255, 0.8);
  --shadow-neumorphic-button-hover: 4px 4px 8px rgba(0, 0, 0, 0.1), -3px -3px 7px rgba(255, 255, 255, 0.8);
  --shadow-neumorphic-button-active: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.8);
  --shadow-glassmorphism: 0 4px 30px rgba(0, 0, 0, 0.1);
}

    html {
      scroll-behavior: smooth;
    }

    body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
      width: 100%;
      overflow-x: hidden;
    }

    @layer utilities {
      .text-balance {
        text-wrap: balance;
      }
  }